{{#if user}}
  <h1 style="font-size: 30px; font-weight: bold;">Hello, {{user.username}}!</h1>
  {{#if posts.length}}
    <h2>Posts:</h2>
      {{#each posts}}

    <ul>
<div class="box" style="background-color: hsl(0, 0%, 92%)">
        <li style="display: inline; font-size: 20px; font-weight: bold;">{{this.dataValues.title}}</li>
        <div style="display: inline; float: right;">
          Posted by: {{../user.username}} 
          on {{this.dataValues.createdAt}}
        </div>
        <div style="background-color: whitesmoke;">
          {{this.dataValues.content}}
        </div>
</div>
      {{/each}}
    </ul>
  {{else}}
    <p>No posts available.</p>
  {{/if}}
{{else}}
  <p>User not found.</p>
{{/if}}
